<h1><%= @the_user.username %></h1>

<form action="/modify_user/<%= @the_user.username %>" method="post">
  <dl>
    <dt>
      ID
    </dt>
    <dd>
        <%= @the_user.id %>
    </dd>

    <dt>
      <label for="username">Username</label>
    </dt>
    <dd>
      <input type="text" id="username" name="query_user_name" value="<%= @the_user.username %>"/>

      <button> 
        Update user
      </button>
    </dd>
  <dl>
</form>

<table border="1">
  <tr>
    <th>
      Image
    </th>
    <th>
      Owner
    </th>
    <th>
      Caption
    </th>
    <th>
      Posted
    </th>
    <th>
    </th>
  </tr>
  <% @the_user.own_photos.each do |photo|%>
  <tr>
    <td>
      <img src="<%= photo.image%>">
    </td>
    <td>
      <%= photo.poster.username%>
    </td>
    <td>
      <%= photo.caption%>
    </td>
    <td>
      <%= photo.created_at%>
    </td>
    <td>
      <a href="/photos/<%= photo.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
